*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    position: relative;
}
.header{
    position: fixed;
    height: 100px;
	top: 0px;
	display: block;
	left: 0px;
	z-index: 1000;
	width: 100vw;
}
#menu{
	background-color: white;
	position: relative;
	height: 100px;
	width: 100%;
}
#menu ul{
	position: relative;
}
#trueno{
	float: left;
	margin-left: 60px;
	margin-top: 15px;	
	size: 35px 81px;
}
.menu-click{
	display: inline-block;	
}
.menu-click > a{
	display: block;
	padding: 40px 50px;
	font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #2C2C2C;
    text-decoration: none;
}
.menu-click a:hover{
	color: blue;
}
#compra-entradas a{
	/* Compra entradas */
	font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    /* rectangulo color */
	position: absolute;
	padding: 8px 58px;
    right:31px;
    top: 19px;
    background-color: #06C9B6;
    border-radius: 43px;
}
#compra-entradas a:hover{
	color:black;
}
#ticket{
	float: left;
	margin-right: 20px;
	margin-top: 1px;	
	size: 35px 81px;
}
.content{
    width: 100vw;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 100px;
}
.items{
    position: relative;
    width: 100vw;
}
#banner, #precio{
    position: relative;
    width: 100%;
}
.text-box{
    background-color: transparent;
    height: 516px;
    padding: 0px 0px;
}
#line-up{
	font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
	position: absolute;
    height: 129px;
    right: 295px;
    font-size: 110px;
    line-height: 129px;
}
#artistas {
	font-family: 'Raleway', sans-serif;
	font-size: 43px;
	position: absolute;
    height: auto;
    left: 211px;
    top: 161px;
    width: auto;
    text-align: left;
    line-height: 173.4%;
}
.sub-titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    font-color: black;
}
.content-precio{
    background-image: url('../Imagenes/Precio-ubicaciones.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
    height: 817px;
}
#item-3 h2{
    padding: 22px 34px;
    left: 70px;
    border: 8px solid #FFFFFF;
    box-sizing: border-box;
    top: 215px;
    position: relative;
    width: max-content;
}
#drop{
	display: inline-block;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	font-size: 24px; 
	color: black;
	position: absolute;
    left: 166px;
    top: 410px;
    width: 110px;
    height: 28px;
}

#drop:hover{
	color: white;
}
#drop-contenido{
	display: none;
	position: relative;
	background-color: #f9f9f9;
	box-sizing: content-box;
	width:590px; 
	height:175px;
	top: -70px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 1;
    margin-left: 350px;
}
#drop:hover #drop-contenido{
	display: inline-flex;
}
#drop-contenido p{
	font-family:'Raleway', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
	padding: 42px 102px;
}
#valores-precio p{
	font-family:'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: black;
}
#valores-precio .valor-1{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:113px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
#valores-precio .valor-2{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
#drop-2{
	display: inline-block;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	font-size: 24px; 
	color: black;
	position: absolute;
    width: 103px;
    height: 28px;
    left: 166px;
    top: 525px;
}
#drop-2:hover{
	color: white;
}
#drop-contenido1{
	display: none;
	position: relative;
	background-color: #f9f9f9;
	box-sizing: content-box;
	width:590px; 
	height:175px;
	top: -160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 1;
    margin-left: 350px;
}
#drop-2:hover #drop-contenido1{
	display: inline-flex;
}
#drop-2 p{
	font-family:'Raleway', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
	padding: 42px 102px;
}
#valores-precio1 p{
	font-family:'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: black;
}	

#valores-precio1 .valor-3{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:113px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
#valores-precio1 .valor-4{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
#drop-3{
	display: inline-block;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	font-size: 24px; 
	color: black;
	position: absolute;
    width: 92px;
    height: 28px;
    left: 166px;
    top: 640px;
}
#drop-3:hover{
	color: white;
}
#drop-contenido2{
	display: none;
	position: relative;
	background-color: #f9f9f9;
	box-sizing: content-box;
	width:590px; 
	height:175px;
	top:-260px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 1;
    margin-left: 350px;
}
#drop-3:hover #drop-contenido2{
	display: inline-flex;
	text-decoration: none;
}
#drop-3 p{
	font-family:'Raleway', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
	padding: 42px 102px;
}
#valores-precio2 p{
	font-family:'Raleway', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: black;
}	

#valores-precio2 .valor-5{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:113px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
#valores-precio2 .valor-6{
	position: absolute;
	display: inline-flex;
	background-color: #FFB600;
	box-sizing: content-box;
	width:168px; 
	height:27px;
	top: 200px;
	left:400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 40px 50px;
    z-index: 2;
    margin-bottom: -297px;
}
.content-noticias{
    background-image: url('../Imagenes/Noticias.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
    height: 1402px;
}
#item-4 h2{
    padding: 22px 100px;
    text-align: center;
	position: relative;
    width: max-content;
    left: 519px;
    top: 70px;
    border: 8px solid #FFFFFF;
    box-sizing: border-box;	
}
#info-artistas p{
	font-family:'Raleway', sans-serif;
	font-style: normal;
    font-weight: bold;
}
#mariel img{
	position: absolute;
    width: 602px;
    height: 518px;
    left: 60px;
    top: 205px;
}
#mariel img:hover {
    filter: grayscale(1);
}
#mariel p{
	position: absolute;
    width: 540px;
    height: 120px;
    left: 125px;
    top: 590px;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
}
#perota-chingo img{
	position: absolute;
    width: 303px;
    height: 260px;
    right: 360px;
    top: 205px;
}
#perota-chingo p{
	position: absolute;
    width: 243px;
    height: 149px;
    right: 70px;
    top: 270px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}
#duo-marine img{
	position: absolute;
    width: 302px;
    height: 260px;
    right: 60px;
    top: 465px;
}
#duo-marine p{
	position: absolute;
    width: 243px;
    height: 149px;
    right: 390px;
    top: 540px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}
#yorka img{
	position: absolute;
    width: 302px;
    height: 260px;
    left: 87px;
    top: 790px;
}
#yorka p{
	position: absolute;
    width: 243px;
    height: 149px;
    left: 432px;
    top: 880px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}
#dperalta img{
	position: absolute;
    width: 302px;
    height: 260px;
    left: 387px;
    top: 1050px;
}
#dperalta p{
	position: absolute;
    width: 243px;
    height: 149px;
    left: 116px;
    top: 1100px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
#nando img{
	position: absolute;
    width: 601px;
    height: 518px;
    right: 60px;
    top: 790px;
    transition: width 2s, height 2s, transform 2s;
}
#nando img:hover{
	transform: scale(1.08);
}
#nando p{
	position: absolute;
    width: 540px;
    height: 201px;
    right: 70px;
    top: 1098px;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
#content-comollegar{
    background-image: url('../Imagenes/Como-llegar.jpg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
    height: 910px;
}
#mapa{
	position: absolute;
	width: 100%;
	left: auto;
    top: 165px;
    height: auto;
    z-index: 2;
}
#item-5 h2{
	padding:20px 34px ;
	position: relative;
    width: max-content;
    left: 70px;
    top: 45px;
    border: 8px solid #FFFFFF;
    box-sizing: border-box;
}
#contenedor-media{
    background-color: white;
    background-position: 0px 0px;
    height: 450px;
    background-size: 100%;
}
#item-6 h2{
    padding: 22px 100px;
    text-align: center;
	position: relative;
    width: max-content;
    top: 70px;
}
#contenedor-media img{
    position: relative;
    padding: 111px 97px;
    height: auto;
    width: 100%;
}
#contenedor-7{
    background-image: url('../Imagenes/Footer.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 373.72px;
    position: relative;
    width: 100%;
    left: 0px;
    top: 5050px;
}
#suscribete{
	display: block;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    z-index:1;
    position: absolute;
    width: 341px;
    height: 32px;
    left: 389px;
    top: 5180px;
}
#email{
	position: absolute;
    width: 221px;
    height: 36px;
    left: 389px;
    top: 5215px;
    border: none;
}
#boton{
	position: absolute;
    width: 120px;
    height: 36px;
    left: 611px;
    top: 5215px;
    border:none;
    cursor: pointer;
    background: #9A3A8D;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
#redes-sociales{
}
.iconos{
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../Imagenes/Redes-sociales.svg);
	position: absolute;
    width: 292px;
    height: 46px;
    left: 895px;
    top: 5305px;
}
#reserved{
	position: absolute;
    width: 336px;
    height: 24px;
    left: 392px;
    top: 5280px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000
}
.info-contacto {
	position: absolute;
    left: 103px;
    top: 215px;
    text-decoration: none;
    list-style: none;
}
#contenedor-7 a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: black;  
	text-decoration: none; 
	list-style: none;
	display: inline-block;
	padding: 3px;
}
#contenedor-7 a:hover{
	color: white;
}
#idiomas a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: black;  
	text-decoration: none; 
	list-style: none;
}
#idiomas a:hover{
	color: white;
}
#es a{
	position: absolute;
	top: 5275px;
	left: 187px;
}
#en a{
	position: absolute;
	top: 5275px;
	left: 221px;
}
#de a{
	position: absolute;
	top: 5275px;
	left: 255px;
}